/*Custom CSS for Home Page*/

.box-field {
	margin: 100px 5%;
	overflow: auto;	
	margin-bottom: 175px;
	margin-top: 100px;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.box-field h3 {
	margin: 5px 0px;
}

.left-col {
	float: left;
	width: 25%;
	height: 100%;
}

.right-col {
	background-color: #F5F5F5;
	width: 72%;
	margin-left: 3%;
	display: inline-block;
	border-radius: 5px;
}

.profile-info-box {
	background-color: #F5F5F5;
	height: 210px;
	margin-bottom: 10%;
	border-radius: 5px;
	padding: 1px 25px;
	text-align: center;
}

.profile-info-box img {
	height: 75px;
	width: 75px;
	float: left;
}

.profile-info-counts {
	margin: 3px -25px 0px -25px;
	overflow: auto;
}

.numposts, .numfollowing, .numfollowers {
	text-align: center;
	border: 1px solid lightgray;
	padding: 5px 15px;
}

.add-followers {
	text-align: center;
	border: 1px solid lightgray;
	margin: -10px -25px;
	padding: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.numposts:hover, .numfollowing:hover, .numfollowers:hover, .add-followers:hover {
	background-color: #ffe4c4;
	-moz-box-shadow: 1px 1px 10px #999;
  	-webkit-box-shadow: 1px 1px 10px #999;
  	box-shadow: 1px 1px 10px #999;
}

.numposts:active, .numfollowing:active, .numfollowers:active, .add-followers:active {
	background-color: #ffe4c4;
	box-shadow: none;
}

#name-tag {
	padding-top: 40px;
	margin-left: 85px;
}

.trending-box {
	background-color: #F5F5F5;
	height: 300px;
	border-radius: 5px;
	padding: 15px;
}





#profile {
	height: 100px;
	border-radius: 100px;
}

#wallfeed {
	width:100%;
	margin:0px;
}

#navbar-link {
	padding: 0px 10px;
	border: 1px solid black;
	transition: all 0.2s;
	border-radius: 15px;
}

#navbar-link:hover {
	color:black;
	background-color: #ffe4c4;
	-moz-box-shadow: 1px 1px 5px #999;
 	-webkit-box-shadow: 1px 1px 5px #999;
 	box-shadow: 1px 1px 5px #999;
}

#logout {
	padding: 0px 10px;
	border: 1px solid black;
	background-color: #ffe4c4;
	border-radius: 15px;
	transition: all 0.2s;
}

#logout:hover {
	color:black;
	background-color: salmon;
	-moz-box-shadow: 1px 1px 5px #999;
 	-webkit-box-shadow: 1px 1px 5px #999;
 	box-shadow: 1px 1px 5px #999;
}


#time{
	width: 100%;
	height: 7px;
	background: #707070;
	display: inline-block;
	float:left;
	margin:10px 0px 0px 0px;
	margin-top: 5px;
	border-radius: 15px;
	transition: height 0.2s;
}

#time:hover {
	height: 15px;
	cursor: pointer;
}

#time:hover #playHead {
	height: 15px;
}

#playHead {
	width: 0px;
	height: 7px;
	margin-top: 0px;
	background: orange;
	border-radius: 15px;
	transition: height 0.2s;
}

#playerButtons {
	padding-bottom: 0px;
}

#selected-link {
	border-bottom: 5px solid #333;
}

#selected-link h4 {
	color: #333;
}

#playerConfirm {
	margin-left: -100px;
	margin-right: 50px;
}


