<link rel="stylesheet" type="text/css" href="/partials/style.css">
<link rel="stylesheet" type="text/css" href="/partials/home/home.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71809630-1', 'auto');
  ga('send', 'pageview');

</script>

   

<!--NAVBAR-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <a ng-click = "home()" href = ""><img src="images/logo.png" height="50px"></a>
      <div class="navbar-links">
        <a ng-click = "logout()" href = ""><h4>Logout, {{owner}}</h4></a>
        <a ng-click = "profile()" href = ""><h4>My Profile</h4></a>
        <a ng-click = "addSong()" href = ""><h4>Add a Song</h4></a>
        <a ng-click="home()" href = "" id="selected-link"><h4>Home</h4></a>
      </div>
    </div>
  </div>
</nav>

<!-- Add Followers Popup -->
<div id="myModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align: center;">Add followers</h4>
      </div>
  
		<ul class="nav nav-tabs" id="tabContent" style="font-size:15px;font-weight:bolder">
			<li class="active" id="addFoll"><a href="" data-toggle="tab">Add Followers</a></li>
			<li id="follRTab"><a href="" data-toggle="tab">Followers</a></li>
			<li id="follGTab"><a href "" data-toggle="tab">Following</a></li>
		</ul>
		
      <div class="modal-body" id="modalBase">
		
		  <input type="search" ng-model="searchUsers" id = "searchUsers" style="width:100%;height:35px;font-size:20px" placeholder="Search User" ng-model-options='{ debounce: 500 }' ng-change="updateResults()">
		  <br>

		   <div id="modalChildren"  style="overflow-y:scroll;height:500px"></div>
	     </div>

		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="exitModal()">Close</button>
		  </div>
    </div>

  </div>
</div>

 

<!--PAGE CONTENTS-->
<div class = "bkg" style = "width:100%; height:100%;" ng-controller="StreamCtrl" id="page-wrap">

 


  <div class="box-field">
    <div class="left-col" id="sidebar" style = "overflow:auto;">
      <div class="profile-info-box">
        <a href="" ng-click = "profile()"> 
          <img class = "img-circle" style="height: 75px; width: 75px;" ng-src = "{{profilepic}}">
        </a>
        <a href="" ng-click = "profile()">
          <h3 id="name-tag">{{fullname}}</h3>
        </a>
        <br>
        <div class = "profile-info-counts">
          <a href="" ng-click = "profile()">
            <h4 class="col-sm-4 numposts" style="padding: 5px 30px">{{numposts}}<br>{{posts}}</h4>
          </a>
          <a href="" data-toggle="modal" data-target="#myModal" onclick="$(follRTab).addClass('active').siblings().removeClass('active');">
            <h4 class="col-sm-4 numfollowers" id ="numfollowers">{{numfollowers}} <br> Followers</h4>
          </a>
          <a href="" data-toggle="modal" data-target="#myModal" onclick="$(follGTab).addClass('active').siblings().removeClass('active');">
            <h4 class="col-sm-4 numfollowing" id="numfollowing">{{numfollowing}} <br> Following</h4>
          </a>
        </div>
        <a href="" data-toggle="modal" data-target="#myModal" onclick="$(addFollTab).addClass('active').siblings().removeClass('active');">
          <div class = "add-followers" >
            <h3>Add Followers</h3>
          </div>
        </a>
      </div>


      <div class="trending-box" style = "overflow:hidden">
        <h4>Locations & Trending</h4>
        <div ng-repeat = "location in locs">
          <p>{{location["city"]}}, {{location["state"]}}</p>
        </div>
      </div>

     <!--  <div class="trending-box" style = "overflow:hidden">
        <h4>Locations & Trending</h4>
        <div ng-repeat = "location in locs">
          <p>{{location["city"]}}, {{location["state"]}}</p>
        </div>
      </div> -->


    </div>

    <div class="right-col">
      <div class="col-sm-12 text-center top-add-song">
        <h2>What is your motivation today? Tell a story with music:</h2>
        <div class="add-button">
          <a ng-click = "addSong()" href = "">
            <h2>Add a Song</h2> 
          </a>
        </div>
      </div>
  
      <div class="col-sm-12" id = "main">
        <div class = "container" id = "wallfeed" ng-repeat = "item in correctUsers | orderBy:'-[unix_time]'">
          <hr> 
          <div class = "row" id = "song{{correctUsers.indexOf(item)}}">
            <div class = "col-md-6 text-center album">
              <button class = "playButton" ng-click = 'playSpecificSong(correctUsers.indexOf(item))'>
                <img style = "width:250px; height:250px;" ng-src = "{{item['user_song'].song_album_pic}}">
              </button>  
            </div>
            <div class = "col-md-6 text-center info">
              <h2>{{item['user_song'].song_title}}</h2>
              <div class="col-md-4 col-md-offset-1">
                <a href="" ng-click = "otherprofiles(item['user'][0].url_username)"> 
                  <img class = "img-circle" ng-src = "{{item['user'][0].picture}}">
                </a>
              </div>
  
              <div class = "col-md-6 text-center prof-info">
                <a href="" ng-click = "otherprofiles(item['user'][0].url_username)"> <h3>{{item["user"][0].nickname}}</h3></a>
                <h4>{{item["formattedTime"]}} | {{item["formmatedDay"]}}</h4>
                <div class="col-md-4">
                  <h5 ng-click = "likes(item['user_song']['_id'], correctUsers.indexOf(item))" class = "likes" id = "likestatus{{correctUsers.indexOf(item)}}">Like</h5>
                  <h4 id = 'like{{correctUsers.indexOf(item)}}' class = "numLikes">{{item['user_song'].who_liked.indexOf(myUserId) > -1 ? "Unlike" : "Like"}}</h4>
                </div>
                <div class="col-md-4">
                  <h5>Favorite</h5>
                </div>
                <div class="col-md-4">
                  <h5>Comment</h5>
                </div>
              </div>
            </div>
          </div>
  
        </div> 
      </div>
    </div>
    
  </div>

   

  <div class="footer" id = "footer1">
    <div class = "container" id = "widgetContainer">

          <div class = "col-md-6" id = "col1">
            <div class="row">
            <div style="float:left">
              <img crossOrigin = "Anonymous" id = "artwork" style = "width:100px; height:100px; margin:5% 0%; float:left">
            </div>
            <div style="margin-left:20px; float:left;width: 65%;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">
              <h4>Current:</h4><span id = "songtitle" style = "font-weight: bold"></span>
              <br>
              <br>
              <span style = "font-family: 'Archivo Narrow', sans-serif">Selected by: </span><span style = "font-family: 'Archivo Narrow', sans-serif" id = "currentuser"></span>
            </div>
            </div>
          </div> 

          <div class = "col-sm-12 col-md-6">

            <div class = "row" align="center" id="playerButtons">
              <button class="playerButton" id="prevButton" ng-click="prevPlayer()"><h5><b>Previous</b></h5></button>
              <button class="playerButton" id="pauseButton" ng-click ="pause()" style="margin:10px 0px; min-height:50px;"><h4>Pause</h4></button>
              <button class="playerButton" id="nextButton" ng-click="nextPlayer()"><h5><b>Next</b></h5></button>


            </div> 

          
            <div id='audplayer'>
              <div id='time'>
                <div id='playHead'></div>
              </div>
            </div>

            <h5 id = "currentTime" style="float:left;">0:00</h5>
            <h5 id = "endTime" style="float:right;">3:00</h5>

          </div>

      </div>
  </div>
</div>



