<link rel="stylesheet" type="text/css" href="/app/style.css">


<!--NAVBAR-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <a ng-click = "home()" href = ""><img src="images/logo.png" height="50px"></a>
      <div class="navbar-links">
        <a ng-click = "logout()" href = ""><h3 id="logout">Logout, {{owner}}</h3></a>
        <a ng-click = "profile()" href = ""><h3 id = "navbar-link">My Profile</h3></a>
        <a ng-click = "addSong()" href = ""><h3 id = "navbar-link">Add a Song</h3></a>
<!--        <a ng-click= "about()"><h3>About</h3></a> -->
      </div>
    </div>
  </div>
</nav>

<!--PAGE CONTENTS-->
<div class = "bkg" style = "width:100%; height:100%; position:absolute">
  <div class="content">
    <div class="col-sm-12 text-center">
      <h2>What is your motivation today? Tell a story with music:</h2>
      <div class="add-button">
        <a ng-click = "addSong()" href = "">
          <h2>Add a Song</h2>
        </a>
      </div>
    </div>

    <div class="col-sm-12">
      <div class = "container" id = "wallfeed" ng-repeat = "item in users">
        <hr>
        <div class = "row" id = "song{{users.indexOf(item)}}">
          <div class = "col-md-6 text-center album">
            <button class = "playButton" ng-click = 'playSpecificSong(users.indexOf(item))'>
              <img style = "width:250px; height:250px;" ng-src = "{{item[0].today_song.song_album_pic}}">
            </button>  
          </div>
          <div class = "col-md-6 text-center info">
            <h2>{{item[0].today_song.song_title}}</h2>
            <div class="col-md-4">
              <a href = "#/profile/{{item[0].url_username}}"> 
                <img class = "img-circle" ng-src = "{{item[0].picture}}">
              </a>
            </div>

            <div class = "col-md-8 text-center prof-info">
              <a href = "#/profile/{{item[0].url_username}}"> <h3>{{item[0].nickname}}</h3></a>
              <h4>{{item[1]}} | {{item[2]}}</h4>
            </div>
          </div>
        </div>

      </div> 
    </div>
  </div>

  <div id="footer">
    <div class = "container" id = "widgetContainer">

          <div class = "col-md-6" id = "col1">
            <div class="row">
            <div style="float:left">
              <img id = "artwork" style = "width:100px; height:100px; margin:5% 0%; float:left">
            </div>
            <div style="margin-left:20px; float:left;width: 65%;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">
              <h4>Current:</h4><span id = "songtitle" style = "font-weight: bold"></span>
              <br>
              <br>
              <span style = "font-family: 'Archivo Narrow', sans-serif">Selected by: </span><span style = "font-family: 'Archivo Narrow', sans-serif" id = "currentuser"></span>
            </div>
            </div>
          </div> 

          <div class = "col-sm-12 col-md-6">

            <div class = "row" align="center">
              <button class="playerButton" id="prevButton" ng-click="prevPlayer()"><h5><b>Previous</b></h5></button>
              <button class="playerButton" id="pauseButton" ng-click ="pause()" style="margin:10px 0px; min-height:50px;"><h4>Pause</h4></button>
              <button class="playerButton" id="nextButton" ng-click="nextPlayer()"><h5><b>Next</b></h5></button>
            </div> 

<!--             <span id = "currentTime" style = "float: left"></span> -->
            <div id='audplayer'>
              <div id='time'>
                <div id='playHead'></div>
              </div>
            </div>
<!--             <span id = "endTime" style = "float: left"></span> -->
            <h5 id = "currentTime" style="float:left;">0:00</h5>
            <h5 id = "endTime" style="float:right;">3:00</h5>

          </div>

      </div>
  </div>
</div>



