<link rel="stylesheet" type="text/css" href="/app/style.css">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <a ng-click="home()" href = ""><img src="images/logo.png" height="50px"></a>
      <div class="navbar-links">
        <a ng-click = "logout()" href = ""><h4>Logout, {{owner}}</h4></a>
        <a ng-click = "profile()" href = "" id="selected-link"><h4>My Profile</h4></a>
        <a ng-click = "addSong()" href = ""><h4>Add a Song</h4></a>
        <a ng-click="home()" href = ""><h4>Home</h4></a>

      </div>
    </div>
  </div>
</nav>

<div class="content">
  <div class="profile-info" align="center">
    <img id="profile-img" ng-src="{{correctPerson[0].picture}}">
    <h1>{{correctPerson[0].nickname}}</h1>
    <h4>{{numPosts}} posts</h4>
  </div>
  
  <div id = "song-grid" align="center" ng-repeat = "item in correctPerson[0].song_history | orderBy:'-unix_time' " >


    <a href="" ng-click = 'playSpecificSong()'>
      <div class="col-md-4 song-tile">
        <img class="song-image" ng-src="{{item.song_album_pic}}">
        <h4>{{item.song_title}}</h4>
        <h5>Posted: {{item.formmatedDay}}</h5>
        <h5>100 Views | 15 Likes</h5>
      </div>
    </a>
 
  </div>
  

</div>