<link rel="stylesheet" type="text/css" href="/app/style.css">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="logo">
      <a ng-click="home()" href = ""><img src="images/logo.png" height="50px"></a>
      <div class="navbar-links">
        <a ng-click = "logout()" href = ""><h4>Logout, {{owner}}</h4></a>
        <a ng-click = "profile()" href = "" id="selected-link"><h4>My Profile</h4></a>
        <a ng-click = "addSong()" href = ""><h4>Add a Song</h4></a>
        <a ng-click="home()" href = ""><h4>Home</h4></a>

      </div>
    </div>
  </div>
</nav>

<div class="content" ng-controller="ProfileCtrl">
  <div class="profile-info" align="center">
    <img id="profile-img" ng-src="{{correctPerson[0].picture}}">
    <h1>{{correctPerson[0].nickname}}</h1>
    <h4>{{numPosts}} posts</h4>
  </div>
  
  <div id = "song-grid" align="center" ng-repeat = "item in correctPerson[0].song_history | orderBy:'-unix_time' " >
    <a href="" ng-click = 'startStreamingProfileSong(item.song_url,item.song_album_pic,item.song_title,item.track_id,item.song_duration)'>
      <div class="col-md-4 song-tile">
        <img class="song-image" ng-src="{{item.song_album_pic}}">
        <h4>{{item.song_title}}</h4>
        <h5>Posted: {{item.formmatedDay}}</h5>
        <h5>100 Views | 15 Likes</h5>
      </div>
    </a>
 
  </div>
  
</div>

 <div id="footer" ng-controller="HomeCtrl">
    <div class = "container" id = "widgetContainer">

      <div class = "col-md-6" id = "col1">
        <div class="row">
        <div style="float:left">
          <img id = "artwork" style = "width:100px; height:100px; margin:5% 0%; float:left">
        </div>
        <div style="margin-left:20px; float:left;width: 65%;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">
          <h4>Current:</h4><span id = "songtitle" style = "font-weight: bold"></span>
          <br>
          <br>
          <span style = "font-family: 'Archivo Narrow', sans-serif">Selected by: </span><span style = "font-family: 'Archivo Narrow', sans-serif" id = "currentuser"></span>
        </div>
        </div>
      </div> 

      <div class = "col-sm-12 col-md-6">

        <div class = "row" align="center">
          <button class="playerButton" id="prevButton" ng-click="prevPlayer()"><h5><b>Previous</b></h5></button>
          <button class="playerButton" id="pauseButton" ng-click ="pause()" style="margin:10px 0px; min-height:50px;"><h4>Pause</h4></button>
          <button class="playerButton" id="nextButton" ng-click="nextPlayer()"><h5><b>Next</b></h5></button>
        </div> 


        <div id='audplayer'>
          <div id='time'>
            <div id='playHead'></div>
          </div>
        </div>

        <h5 id = "currentTime" style="float:left;"></h5>
        <h5 id = "endTime" style="float:right;"></h5>



      </div>

      </div>
  </div>