<!DOCTYPE html>
<html ng-app="inTunity" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

     <base href="/">
	 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script type="text/javascript" src="/javascripts/color-thief.js"></script>

	
	 <!-- Load BootStrap -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
	
	
    <!--Plugins for auth0 -->
    <script type="text/javascript" src="/partials/auth0-variables.js"></script>
    <script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
    <script src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
    <script src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>
    <script src="https://cdn.auth0.com/w2/auth0-widget-3.0.min.js"></script>


    <script type="text/javascript" src="/partials/app.js"></script>
    <script type="text/javascript" src="/partials/login/login.js"></script>
    <script type="text/javascript" src="/partials/home/home.js"></script>
    <script type="text/javascript" src="/partials/addSong/addSong.js"></script>
    <script type="text/javascript" src="/partials/about/about.js"></script>
    <script type="text/javascript" src="/partials/profile/profile.js"></script>
    <script type="text/javascript" src="/partials/location/location.js"></script>
    <script type="text/javascript" src="/partials/stream/stream.js"></script>
	
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRiTeKwctt2EPGGvBxPQupJsT28MBNLg8&signed_in=true" async defer></script> 


    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>

  

    <!-- plugins to interact with SoundCloud API -->
    <script src="/javascripts/soundcloudHackedAPI.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"> </script>



    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">


    <link href="/partials/login/login.css" rel="stylesheet">
    <link href="/partials/profile/profile.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">-->


  </head>


  <!--This loads the view for our page-->
  <body style = "margin:0" ng-controller="StreamCtrl">

    <div ng-view style="height:1000px"></div>

 <div class="footer" id = "footer1"  style = "opacity: 0.95">
    <div class = "container" id = "widgetContainer">

          <div class = "col-md-6" id = "col1">
            <div class="row">
            <div style="float:left">
              <img crossOrigin = "Anonymous" id = "artwork" style = "width:100px; height:100px; margin:5% 0%; float:left">
            </div>
            <div style="margin-left:20px; float:left;width: 65%;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">
              <h4>Current:</h4><span id = "songtitle" style = "font-weight: bold"></span>
              <br>
              <br>
              <span style = "font-family: 'Archivo Narrow', sans-serif">Selected by: </span><span style = "font-family: 'Archivo Narrow', sans-serif" id = "currentuser"></span>
            </div>
            </div>	
          </div> 

          <div class = "col-sm-12 col-md-6">

            <div class = "row" align="center" id="playerButtons">
              <!-- <button class="playerButton" id="prevButton" ng-click="prevPlayer()"><h5><b>Previous</b></h5></button> -->
              <button class="playerButton" id="prevButton" ng-click="prevPlayer()" style="margin:10px 0px; min-height:50px;"><span class = "glyphicon glyphicon-backward"></span></button>
              <button class="playerButton" id="pauseButton" ng-click ="pause()" style="margin:10px 0px; min-height:50px;"><span class = "glyphicon glyphicon-pause"></span></button>
              <button class="playerButton" id="nextButton" ng-click="nextPlayer()" style="margin:10px 0px; min-height:50px;"><span class = "glyphicon glyphicon-forward"></span></button>


            </div> 

          
            <div id='audplayer'>
              <div id='time'>
                <div id='playHead'></div>
              </div>
            </div>

            <h5 id = "currentTime" style="float:left;">0:00</h5>
            <h5 id = "endTime" style="float:right;">3:00</h5>

          </div>

      </div>
  </div>
 </body>
   
</html>