<link rel="stylesheet" type="text/css" href="/app/style.css">

<!--Rotating Array
<script type = "text/javascript">
    var pic_array = [
        ["/images/splashscreen/back1.jpg"], 
        ["/images/splashscreen/back2.jpg"], 
        ["/images/splashscreen/back3.jpg"], 
        ["/images/splashscreen/back4.jpg"], 
        ["/images/splashscreen/back1.jpg"]
    ];

    window.onload = fadeInImage();


    var i = 0;
    setInterval( 
        function() { 
            if (i == pic_array.length - 1) {
                i = 0;
            }
            fadeInImage(i);
            i = i + 1; 
        }, 5000
    )
    function fadeInImage() {
        setTimeout(function () {
            $("#bkgImage").fadeOut("slow", function () {
                document.getElementById('bkgImage').style.background="url(" + pic_array[i][0] + ")" + "no-repeat center center fixed";
                document.getElementById('bkgImage').style.backgroundSize = "cover";
                $("#bkgImage").fadeIn();
            });
        }, 5000);
    }


    $("#js-rotating1").Morphext({
        // The [in] animation type. Refer to Animate.css for a list of available animations.
        animation: "fadeInDownBig",
        // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
        separator: ",",
        // The delay between the changing of each phrase in milliseconds.
        speed: 5000,
        complete: function () {
            // Called after the entrance animation is executed.
        }
    });

     $("#js-rotating2").Morphext({
        // The [in] animation type. Refer to Animate.css for a list of available animations.
        animation: "fadeInDownBig",
        // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
        separator: ",",
        // The delay between the changing of each phrase in milliseconds.
        speed: 5000,
        complete: function () {
            // Called after the entrance animation is executed.
        }
    });
</script>
--> 

<!--NAVBAR-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="logo">
        <a ng-click = "home()" href=""><img src="images/logo.png" height="50px"></a>
        <div class="navbar-links">
            <a ng-click="login()" href=""><h4>Log In</h4></a>
            <a ng-click="about()" href=""><h4>About Us</h4></a>
        </div>
    </div>
  </div>
</nav>



<div id = "bkgImage">
    <div id = "phrase">
        <!-- Rotating Text
        <span id="js-rotating1">LIVE IN, REPLAY, PAUSE, FORGET</span>
        THE
        <span id="js-rotating2">GLORY, HAPPINESS, MEMORIES, PAIN</span>
        -->
        <h1>SHARE One Song</h1>
        <h1>CONTRIBUTE to the Playlist</h1>
        <h1>DISCOVER New Music</h1>

        <div class="join-button">
        <a ng-click = "login()" href = "">
          <h2>Join INTUNITY</h2>
        </a>
        </div>
    </div>    
</div>



    

 


