/*Custom CSS for Profile Page*/

.profile-info {
	margin-bottom: 50px;
}

#profile-img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
	border: solid 1px #CCC;
	margin-top: 20px;
}


.song-tile {
	border: solid 1px lightgrey;
	padding: 10px;
	height: auto;
}

.song-tile h4 {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-tile:hover {
	-moz-box-shadow: 1px 1px 10px #999;
  	-webkit-box-shadow: 1px 1px 10px #999;
  	box-shadow: 1px 1px 10px #999;
}

.song-image {
	height: 250px;
	width: 250px;
	margin-top: 10px;
	margin-right: -30px;
}

.delete {
	float: right;
	padding: 5px;
}

.delete:hover {
	cursor: pointer;
	-moz-box-shadow: 1px 1px 10px #999;
  	-webkit-box-shadow: 1px 1px 10px #999;
	box-shadow: 1px 1px 10px #999;
    border-radius: 100px;
    background-color: #ff6666;
}

.delete:active {
	box-shadow: none;
}